# Unity3D related
/*
!/Assets
Assets/OpenCVForUnity
Assets/Anima2D
Assets/Editor Default Resources
Assets/Gizmos
*.meta

# Xcode related
MyStory/Xcode/*
!MyStory/Classes
MyStory/Classes/*
!MyStory/Classes/test_tensorflow.h 
!MyStory/Classes/test_tensorflow.mm 
!MyStory/Models


# MAC-OSX related
.DS_Store
*.zip
