/*

# Unity3D related
!/Assets
Assets/AssetStoreTools
!/ProjectSettings
*.unitypackage


# Xcode related
!Builds/
Builds/*
!Builds/Xcode/
Builds/Xcode/*
!Builds/Xcode/Classes/
Builds/Xcode/Classes/*
!Builds/Xcode/Classes/MyControl.h
!Builds/Xcode/Classes/MyControl.m
!Builds/Xcode/Classes/PhotoManager.h
!Builds/Xcode/Classes/PhotoManager.m
!Builds/Xcode/Classes/test_tensorflow.h
!Builds/Xcode/Classes/test_tensorflow.mm

!Builds/Xcode/Models


# MAC-OSX related
.DS_Store
*.zip
